body {
  background-color: #f5f5f5;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Inter", "Roboto", "Helvetica Neue", sans-serif;
}

.fotmation{
  margin : 30px;
}


.nav {
  border-radius: 16px;
  width: 435px;
  margin: 50px;
  margin-bottom: 0px;
  background: #ffffff;
  padding: 12px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #e0e0e0;
}


.nav a {
  margin: 20px;
  color: #333333;
  text-decoration: none;
}


.page {
  float: left;
  width: 400px;
  margin: 50px;
  margin-top: 10px;;
  background: white;
  border-radius: 16px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  border: 1px solid #e0e0e0;
}


textarea {
  width: 90%;
  min-height: 100px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #d0d0d0;
  resize: none;
  font-family: -apple-system, BlinkMacSystemFont, "Inter", "Roboto", "Helvetica Neue", sans-serif;
}


.coords {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}


input {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #d0d0d0;
  font-family: -apple-system, BlinkMacSystemFont, "Inter", "Roboto", "Helvetica Neue", sans-serif;
}

.header {
  margin: 1px;
}

.txt {
  margin: 4px;
}

.btn,
button {
  background: #9ee8ff;
  border: none;
  flex: auto;
  padding: 10px 60px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333333;
  font-family: -apple-system, BlinkMacSystemFont, "Inter", "Roboto", "Helvetica Neue", sans-serif;
}


.btn:hover,
button:hover {
  background: #9ee8ff;
}


.note-item {
  background: #f9f9f9;
  border-radius: 12px;
  height: auto;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #e0e0e0;
}

.alignl {
  min-height: 100px;
  margin: 5px;
  float: left;
  width: 70%;
  padding: 0;
  border-radius: 12px;
  border: 1px solid #e0e0e0;
  background-color: #b6f0ff;
}

.alignr {
  min-width: 20%;
  margin: 5px;
  float: left;
  padding: 0;
  border-radius: 12px;
  border: 1px solid #e0e0e0;
}
.details {
  display: inline-block;
  margin-top: 8px;
  color: #666666;
  text-decoration: underline;
}